<!DOCTYPE html>
<title>Quiltify Home</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">

<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% else %}
        <div class="createaccount">
            <div id="input_box" class="box_card">
              <form method="post" action="/">
                Your name: <input name="firstname" value="First" onclick="this.select()">
                <input name="lastname" value="Last" onclick="this.select()"><br>
                Bio: <input name="biography">
                <button>Create Profile</button>
              </form>
            </div>
        </div>
      {% endif %}
      <p><a href="/profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a></p>
    {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>




<div class="pagebody" style="flex-direction: column">
  <br></br>
  <h2 style="text-align: center;">Browse the Latest Projects</h2>
  <div class="divider"></div>
<form action="/newproject" method="get">
  {% if current_person %}
    <h2 style="text-align: center;">
      <button class="createbutton" style="margin-top: 10px;">Create a New Project</button>
    </h2>
  {% endif %}
</form>

<table align="center" id="columns" cellspacing="100">
      <!--put in profiles-->
      {% set count = 1 %}
      {% for project in projects %}
        {% if count%2==1 %}
        <tr>
            <td class="artworks redborder" style="font-size: 20px; vertical-align: top; text-align: center;">
              <a href="/viewproject?key={{project.key.urlsafe()}}">
                {{project.title}}
              </a>
              <object type="text/html" data="/preview?key={{project.key.urlsafe()}}" width="100%" height="100%" background-size="contain">
              </object>

            </td>
            {% set count = count+1 %}

        {% else %}
            <td class="artworks redborder" style="font-size: 20px; vertical-align: top; text-align: center;">
              <a href="/viewproject?key={{project.key.urlsafe()}}">
                  {{project.title}}
              </a>
              <object type="text/html" data="/preview?key={{project.key.urlsafe()}}" style="width: 100%; height: 100%; display: table-cell;">
              </object>
            </td>
        </tr>
        {% set count = count+1 %}
        {% endif %}
      {% endfor %}
</table>
</div>
