<!DOCTYPE html>
<title>Quiltify Home</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">



<style>
body {
font-family: 'Quicksand', sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 100px 50px;
}


#artworks {
  height: 300px; /*make adjustable as extension*/
  width: 300px;
  border: 1px solid black;

  }


</style>



<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% else %}
        <div class="createaccount">
            <div id="input_box" class="box_card">
              <form method="post" action="/">
                Your name: <input name="firstname" value="First" onclick="this.select()">
                <input name="lastname" value="Last" onclick="this.select()"><br>
                Bio: <input name="biography">
                <button>Create Profile</button>
              </form>
            </div>
        </div>
      {% endif %}
      <p><a href="profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a><p>
    {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>




<br></br>
<h1 style="text-align: center;">BROWSE THE LATEST PROJECTS</h1>
<table align="center" id="columns" cellspacing="100">
    <!--put in profiles-->


  <tr>
    <td id="artworks"><a href="/">{{projects}}
    </a></td>

    <td id="artworks">{{projects}}
    </td>
  </tr>


  <tr>
    <td id="artworks">{{projects}}
    </td>

    <td id="artworks">{{projects}}
    </td>
  </tr>
</table>
