<!DOCTYPE html>
<title>preview</title>
<style>
body {
  overflow-y: hidden;
}
</style>
<div class="panelBox redborder"  style="max-height: 100%; max-width: 100%;">
  <table align="center" id="homepageDisplay">
    {% set count = 1 %}
    {% for panel in panels %}
    {% set columns = project.columns %}
      {% if count%(columns)==1 %}
        <tr>
          <td class="artworks redborder" style="font-size: 20px; vertical-align: middle; text-align: center;" scroll="no">
            <div class="panel">
              {% if panel.filled %}
                <img width="90"width="100%" src="/photo?key={{panel.key.urlsafe()}}"
                alt="PANEL CONTENT">
              {% else %}
                <img width="90" src="../photos/upload.png">
              {% endif %}
            </div>
          </td>
          {% set count = count+1 %}

      {% elif count%(columns)==columns %}
        <td class="artworks redborder" style="font-size: 20px; vertical-align: middle; text-align: center;" scroll="no">
          <div class="panel">
            {% if panel.filled %}
              <img width="90" src="/photo?key={{panel.key.urlsafe()}}"
              alt="PANEL CONTENT">
              {% else %}
              <img width="90" src="../photos/upload.png">
              {% endif %}
            </div>
        </td>
        </tr>
        {% set count = count+1 %}

      {% else %}
        <td class="artworks redborder" style="font-size: 20px; vertical-align: middle; text-align: center;" scroll="no">
          <div class="panel">
            {% if panel.filled %}
              <img width="90" src="/photo?key={{panel.key.urlsafe()}}"
              alt="PANEL CONTENT">
            {% else %}
              <img width="90" src="../photos/upload.png">
            {% endif %}
          </div>
        </td>
        {% set count = count+1 %}
      {% endif %}

    {% endfor %}
  </table>
</div>
