<!DOCTYPE html>
<title>Quiltify Profile</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">

<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% else %}
        <div class="createaccount">

          <div id="input_box" class="box_card">
            <form method="post" action="/profile">
              Your name: <input name="firstname" value="First" onclick="this.select()">
              <input name="lastname" value="Last" onclick="this.select()"><br>
              Bio: <input name="biography">
              <button>Create Profile</button>
            </form>
          </div>
        </div>
      {% endif %}
      <p><a href="profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a><p>
    {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>

<div class="pagebody">
  <div class="navbar" style="padding: 0px; margin-right: 10px;">
    <div class="redborder" style="padding: 10px;">
      <img class="profilepic" src="../photos/profile.png">
      <h2 style="font-weight: 600;">{{current_person.firstname}} {{current_person.lastname}}</h2>
      {% if current_user %}
        <p>{{current_user.email()}}
      {% endif %}
      <p>{{current_person.biography}}</p>
    </div>
  </div>
  <div class="content redborder">

    <div class="pageheader">
      <h2 style="float: left">My Projects</h2>
      <div style=" float: right; padding-right: 10px">
        {% if current_person %}
        <a style="line-height: 30px;" href="newproject">New Project</a>
        {% endif %}
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="listprojects">
      {% if projects %}
        {% for project in projects %}
          <div class="displayproject redborder">
            {{project.title}}
            <form method="get" action="viewproject">
              <div style="display: none;">
                <input name="key" value="{{project.key.urlsafe()}}">
              </div>
              <input class="submitbutton" type="submit" value="View Project">
            </form>
          </div>
        {% endfor %}
      {% endif %}
    </div>

  </div>
</div>
