<!DOCTYPE html>
<title>Quiltify Profile</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">

<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% else %}
        <div class="createaccount">
            <div id="input_box" class="box_card">
              <form method="post" action="/profile">
                Your name: <input name="firstname" value="First" onclick="this.select()">
                <input name="lastname" value="Last" onclick="this.select()"><br>
                Bio: <input name="biography">
                <button>Create Profile</button>
              </form>
            </div>
        </div>
      {% endif %}
      <p><a href="profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a><p>
    {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>

<div class="pagebody">
  <div class="navbar redborder">
    <img class="profilepic" src="../photos/profile.png">
    <h2 style="font-weight: 600;">{{current_person.firstname}} {{current_person.lastname}}</h2>
    <p>{{current_person.biography}}</p>
  </div>
  <div class="content redborder">
    <h2>My Projects</h2>
  </div>
</div>
