<!DOCTYPE html>
<title>Quiltify Project</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">


<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% endif %}
      <p><a href="/profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a></p>
    {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>

<div class="pagebody">
  <div class="content">

    <div class="pageheader">
      <h2 style="">{{project.title}}: Panel {{panel.panel_id}}</h2>
      <p style="font-style: italic; color: #696969; line-height: 15px; padding-left: 10px;">
        Creator:
        {% if panel.creator %}
          {% if panel.creator.get() %}
            <a href="profile?profile_key={{panel.creator.get().key.urlsafe()}}">
            {{panel.creator.get().firstname}} {{panel.creator.get().lastname}}</a>
          {% else %}
            -Deleted Account-
          {% endif %}
        {% else %}
          None
        {% endif %}
      </p>
    </div>
    <div class="divider"></div>
    <div class="panelBox redborder">

      <div>

        <form method="get" action="viewproject">
          <div style="display: none;">
            <input name="key" value="{{project.key.urlsafe()}}">
          </div>
          <input class="submitbutton" type="submit" value="Back to Project">
        </form>

        <div class="panel" style="width: {{panel.width}}px; height: {{panel.height}}px">
          {% if panel.filled %}
            <img width="{{panel.width}}" height="{{panel.height}}" src="/photo?key={{panel.key.urlsafe()}}"
            alt="PANEL CONTENT">
          {% else %}
            <img width="{{panel.width}}" height="{{panel.height}}" src="../photos/upload.png">
          {% endif %}
        </div>

      </div>
      <div style="padding: 5px; margin: 10px;">
        {% if not panel.creator or current_person.email == panel.creator.get().email or
          current_person.email == project.owner.get().email%}
        <form action="uploadphoto" method="POST" enctype="multipart/form-data">
          <div style="display: none;">
            <input name="key" value="{{panel.key.urlsafe()}}">
          </div>
          Upload File: <br>
          <input type="file" name="file"><br>
          <input type="submit" name="submit" value="Submit">
        </form>
        {% endif %}
        <br>
      </div>

    </div>

  </div>

</div>
