<!DOCTYPE html>
<title>Quiltify Project</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">


<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% endif %}
      <p><a href="/profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a><p>
        {% if project.owner %}
          <p><a href="{{edit_url}}">Edit</a> | <a href="{{delete_url}}">Delete</a><p>
        {% endif %}
      {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>

<div class="pagebody">
  <div class="content">

    <div class="pageheader" style="flex: none;">
      <h2 style="">{{project.title}}</h2>
      <p style="font-style: italic; color: #696969; line-height: 15px; padding-left: 10px;">
        Owner:
          {% if project.owner %}
            <a href="profile?profile_key={{project.owner.get().key.urlsafe()}}">
            {{project.owner.get().firstname}} {{project.owner.get().lastname}}</a>
          {% else %}
            None
          {% endif %}
        </p>
    </div>
    <div class="divider"></div>
    <div class="panelBox redborder">
      {% for panel_row in panel_rows %}
      <div class="row">
        {% for panel in panel_row %}
        <div class="panel" style="width: {{panel.width}}px; height: {{panel.height}}px; position: relative;"
        onclick="location.href='/updatepanel?key={{panel.key.urlsafe()}}'">
          {% if panel.filled %}
            <img width="{{panel.width}}" height="{{panel.height}}" src="/photo?key={{panel.key.urlsafe()}}"
            alt="PANEL CONTENT">
          {% else %}
            <img width="{{panel.width}}" src="../photos/upload.png">
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

  </div>

</div>
