<!DOCTYPE html>
<title>Quiltify Project</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">


<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% endif %}
        <p><a href="/profile">View Profile</a> | <a href="{{logout_url}}">
        Log Out</a><p>
      {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>



<div class="pagebody">
  <div class="content">

    <div class="pageheader" style="flex: none; height: 70px">
      <div style="float: left">
        <h2 style="">{{project.title}}</h2>
        <p style="font-style: italic; color: #696969; line-height: 15px; padding-left: 10px;">
          Owner:
          {% if project.owner %}
            <a href="profile?profile_key={{project.owner.get().key.urlsafe()}}">
            {{project.owner.get().firstname}} {{project.owner.get().lastname}}</a>
          {% else %}
            None
          {% endif %}
        </p>
      </div>
      <div style="float: right">
        {% if project.owner.get().email == current_person.email %}
          <a href="/edittitle" class="pageheaderbutton">
          Edit</a><br>
          <form action="/" method="post">
            <div style="display: none">
              <input name="project_key" value="{{project.key.urlsafe()}}">
            </div>
            <button class="pageheaderbutton">Delete</button>
          </form>
        {% endif %}
      </div>
    </div>


    <div class="divider"></div>


    <div class="panelBox redborder">
      {% for panel_row in panel_rows %}

      <div class="row">
        {% for panel in panel_row %}

        <div class="projectpanel" style="width: {{panel.width}}px; height: {{panel.height}}px; position: relative;"
        onclick="location.href='/updatepanel?key={{panel.key.urlsafe()}}'">
          <div class="hoverTextPanel">
            <br><br><br>
            Panel {{panel.panel_id}}<br><br>
            Creator:
            {% if panel.creator %}
              {% if panel.creator.get() %}
                {{panel.creator.get().firstname}} {{panel.creator.get().lastname}}
              {% else %}
                -Deleted Account-
              {% endif %}
            {% else %}
              None
            {% endif %}
          </div>
          {% if panel.filled %}
            <img class="panelimg" width="{{panel.width}}" height="{{panel.height}}" src="/photo?key={{panel.key.urlsafe()}}"
            alt="PANEL CONTENT">
          {% else %}
            <img class="panelimg" width="{{panel.width}}" src="../photos/upload.png">
          {% endif %}
        </div>

        {% endfor %}
      </div>
      {% endfor %}
    </div>

  </div>

</div>
