<!DOCTYPE html>
<title>Quiltify Project</title>
<link rel="stylesheet" href="../stylesheets/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">


<div class="heading">
  <div class="webtitle" onclick="location.href='/'">
    <img class="logo" src="../photos/logo.png">
    <p>QUILTIFY</p>
  </div>
  <div class="userbox">
    {% if current_user %}
      {% if current_person %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 18px;">
          {{current_person.firstname}} {{current_person.lastname}}</p>
        <p>{{current_user.email()}}</p>
      {% endif %}
      <p><a href="/profile">View Profile</a> | <a href="{{logout_url}}">Log Out</a><p>
    {% else %}
      <br><br>
      <a href="{{login_url}}">Log In</a>
    {% endif %}
  </div>
</div>

<div class="pagebody">
  <div class="content">

    <div class="pageheader">
      <h2 style="float: left">{{project.title}}</h2>
    </div>
    <div class="divider"></div>
    <div class="panelBox redborder">
      {% for panel_row in panels_rows %}
      <div class="row">
        {% for panel in panel_row %}
        <div class="panel" style="width: {{panel.width}}px; height: {{panel.height}}px; position: relative;"
        onclick="location.href='/updatepanel?key={{panel.key.urlsafe()}}'">
          <img width="{{panel.width}}" src="/photo?key={{panel.key.urlsafe()}}"
          alt="PANEL CONTENT">
          <!-- <form method="get" action="updatepanel" style="position: absolute; bottom: 0;">
            <div style="display: none;">
              <input name="key" value="{{panel.key.urlsafe()}}">
            </div>
            <input class="smallbutton" type="submit" value="Edit">
          </form> -->
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

</div>
